header {
  text-align: center;
  background-size: cover;
  background-position: 50% 45%;
  color: green;
}
a {
  color: green;
}
h1 {
  font-size: 70px;

  color: rgba(1, 20, 109, 0.999);
  font-family: Impact;
  
}
img {
  margin: 100px 0px 810px 0px;
  border: 7px solid green;
  border-radius: 1000px;
      }
   
ul {
  padding: 10px;
  background: rgba(0,0,0,0.5);
}
li {
  display: inline;
  padding: 0px 10px 0px 10px;
}
article {
  max-width: 500px;
  padding: 20px;
  margin: 20 auto;
  background-color: gray;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
@media (max-width: 500px) {
  h1 {
    font-size: 36px;
    padding: 5px;
  }
  li {
    padding: 5px;
    display: block;
  }
}

body {
  background-color: green;
}